# directories

references/
_minted-ComplexDynamicsandComputation/
manuscripts/Images



# latex

*.aux
*.fls
*.log
*.out
*.fdb_latexmk
*.gz
*.toc
*.pdf

# notebook

.ipynb_checkpoints/


# misc

.DS_Store
